    * {
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #fff;
    }

    nav {
        background: #36b9e9;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, .2);
    }

    .nav-con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .menu {
        display: flex;
    }

    .menu li {
        list-style: none;
        margin-left: 1rem;
    }

    .nav-container {
        max-width: 1800px;
        margin: 0 auto;
    }

    a {
        color:#fff;
        text-decoration: none;
    }

    .logo a {
        font-size: 1.5rem;
    }

    .box-welcome {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        height: 300px;
        background: #5fc6eb;
        border-radius: 15px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, .2);
    }

    .box-welcome p {
        color: #fff;
    }

    .box-welcome .first-text {
        padding-top: 30px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .box-welcome .second-text {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .box-welcome .button-container {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 135px;
    }

    .box-welcome button {
        font-size: large;
        background-color: #1aa4d6;
        padding: 10px 30px;
        border-radius: 8px;
        border: none;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, .2);
    }

    .box-schedule {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        background: #E6F8FE;
        width: 1200px;
        height: 500px;
        border-radius: 20px;
    }

    #schedule {
        margin-top: 40px;
        margin-left: 333px;
    }

    .anime-container {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        overflow: hidden;
        height: 500px;
    }

    .swiper {
        width: 100%;
        padding: 20px 0px;
    }

    .swiper-slide {
        border-radius: 10px;
        text-align: center;
    }

    .swiper-slide img {
        width: 100%;
        max-height: 340.31px;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, .2);
    }

    .anime-title {
        font-weight: bold;
        margin-top: 10px;
    }

    .episode {
        color: gray;
        font-size: 14px;
    }

    .timer {
        margin: 10px 0px;
        font-weight: bold;
    }

    .day {
        margin-top: 50px;
        margin-left: 200px;
        font-size: 20px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        width: 1400px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        justify-content: center;
    }
    
    .anime-card {
        cursor: pointer;
        overflow: hidden;
        transition: 0.3s;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }
    
    .anime-card:hover {
        transform: scale(1.05);
    }
    
    .anime-img {
        position: relative;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .anime-img img {
        width: 256px;
        height: 400px;
        object-fit: cover;
        display: block;
    }
    
    .anime-time {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        padding: 5px 10px;
        border-radius: 15px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 75px;
        height: 30px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    }
    
    .anime-time img {
        width: 20px;
        height: 20px;
    }
    
    .anime-time p {
        font-size: 16px;
    }

    .anime-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 10px;
        text-align: left;
        box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
    }

    .anime-studio {
        font-size: 14px;
    }
    
    .anime-name {
        font-size: 14px
    }

    #list {
        font-size: 36px;
        margin-top: 75px;
        margin-left: 300px;
    }

    .search-container {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
    }

    .search-title {
        display: flex;
        gap: 5px;
    }

    .search-title img {
        width: 35px;
        height: 35px;
    }

    .search-box input {
        border-radius: 5px;
        margin-top: 5px;
        padding-left: 10px;
        width: 1200px;
        height: 40px;
        font-size: 18px;
    }

    .filters {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        gap: 40px;
        margin-top: 30px;
    }

    .filter-title {
        display: flex;
        gap: 5px;
    }

    .filter-title img {
        width: 35px;
        height: 35px;
    }

    .filter-box select {
        width: 270px;
        height: 40px;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 5px;
        padding-left: 10px;
    }

    .anime-list-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1200px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        gap: 40px;
    }

    .anime-list-card {
        cursor: pointer;
        display: flex;
        width: 580px;
        height: 250px;
        background: #b0eaff;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.3s;
    }
    
    .anime-list-card:hover {
        transform: scale(1.05);
    }

    .anime-list-img img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    .anime-list-info {
        padding-top: 5px;
        padding-left: 10px;
        width: 403px;
        position: relative;
    }

    .anime-list-name {
        font-size: 20px;
    }

    .anime-list-type {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5px;
        row-gap: 10px;
        width: 383px;
        margin-top: 10px;
    }

    .list-type {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 25px;
        background: #1fc6f0;
        border-radius: 5px;
    }

    #line {
        margin-top: 20px ;
        width: 383px;
        height: 2px;
        border-radius: 1px;
        background: #333;
    }

    .anime-list-platform {
        display: grid;
        position: absolute;
        bottom: 5px;
        grid-template-columns: repeat(4, 1fr);
        width: 150px;
        column-gap: 10px;
    }

    .anime-list-platform-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
    }

    .anime-list-platform-img img {
        width: 100%;
        object-fit: cover;
    }

    .other {
        display: flex;
        width: 35px;
        height: 35px;
        border-radius: 20px;
        background: #31dbf1;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    .status {
        display: flex;
        position: absolute;
        padding: 0 15px;
        bottom: 10px;
        right: 10px;
        background: #31dbf1;
        border-radius: 5px;
    }

    .info-container {
        display: flex;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 1600px;
        height: 1000px;
        background: #333;
        position: relative;
        justify-content: center;
    }

    .back-button {
        display: flex;
        position: absolute;
        left: 10px;
        top: 25px;
    }

    .back-button button {
        padding: 5px 10px;
        font-size: 16px;
    }

    .info-card {
        display: flex;
        width: 1200px;
        height: 400px;
        background: #1fc6f0;
    }

    .info-img {
        display: flex;
        width: 250px;
        height: 350px;
        margin-top: 25px;
        margin-left: 20px;
    }

    .info-img img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .info-box {
        margin-top: 25px;
        margin-left: 20px;
        width: 890px;
        height: 350px;
    }

    .info-title {
        display: flex;
        flex-wrap: wrap;
        font-size: 24px;
    }

    .info-introduction {
        font-size: 18px;
        margin-top: 15px;
    }

    .info-type {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        width: 500px;
        text-align: center;
        margin-top: 10px;
    }

    .info-tag {
        width: 100%;
        height: 25px;
        background: #f01fa0;
        border-radius: 5px;
    }

    .studio {
        margin-top: 10px;
    }

    .studio-text {
        margin-bottom: 10px;
    }

    .studio-img {
        width: 140px;
        height: 140px;
    }

    .studio-img img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }